<?xml version="1.0"?>
<configuration>
<system.web>
  <authentication mode="Forms">
    <forms loginUrl="Admin/Admin.html" defaultUrl="Admin/Admin.html">

      <credentials passwordFormat="Clear">
        <user name="admin" password="admin" />

      </credentials>
    </forms>
  </authentication>
</system.web>
<location path="Private">

  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>

  </system.web>
</location>
   <system.webServer>
      <httpErrors>
        <remove statusCode="401" subStatusCode="-1" />
        <remove statusCode="403" subStatusCode="-1" />      
        <remove statusCode="404" subStatusCode="-1" />                
        <remove statusCode="500" subStatusCode="-1" />
          <!-- full url when responsemode is Redirect -->
        <error statusCode="401" path="http://foo.com/default.htm" responseMode="Redirect" />
          <!-- local relative path when responsemode is ExecuteURL -->
        <error statusCode="403" path="/Error.html" responseMode="ExecuteURL" />
        <error statusCode="404" path="/Error.html" responseMode="ExecuteURL" />                
        <error statusCode="500" path="/Error.html" responseMode="ExecuteURL" />
      </httpErrors>
   </system.webServer>
</configuration>


